# compiled files:
*.o
*.so
*.a
# temporary files:
*.bak
*.swp
*~
.*~
*.old
*.pyc
tmp*
temp*
.#*
\#*
# pictures
*.png
*.gif
# To avoid uploading potentially large files exlude .pdf
*.pdf
# tex files:
*.log
*.dvi
*.aux
*.blg
*.idx
*.nav
*.out
*.toc
*.snm
*.vrb
*.fmt
*.prv
*_.tex
# eclipse files:
*.cproject
*.project
# misc:
.DS_Store
# pdv and vtu
*.pvd
*.vtu
# animations paraview
*.ogv
*.avi
# other fenics-files
*.xml
# gmsh .msh-files
*.msh